<div class="row">
    <div id="<%=id%>" contentEditable="true">
        <%= name %>
    </div>
    <div class="col s4">
        <span>Phase A Current:</span>
        <span id="current-card<%=id%>phaseA">0</span>
    </div>
    <div class="col s4">
        <span>Phase B Current:</span>
        <span id="current-card<%=id%>phaseB">0</span>
    </div>
    <div class="col s4">
        <span>Phase C Current:</span>
        <span id="current-card<%=id%>phaseC">0</span>
    </div>
    <div class="col s4">
        <span>Temperature 1:</span>
        <span id="current-card<%=id%>temp1">0</span>
    </div>
    <div class="col s4">
        <span>Temperature 2:</span>
        <span id="current-card<%=id%>temp2">0</span>
    </div>
</div>
<script>
    safeInterval(function() {
        sendMessage("get-current", <%= id%>)
    }, 1000);
    sendMessage("get-current", <%= id%>);

    responseHandlers["resp-get-current"] = function(resp) {
        console.log(resp);
        $("#current-card" + resp.id + "phaseA").html(resp.phaseA);
        $("#current-card" + resp.id + "phaseB").html(resp.phaseB);
        $("#current-card" + resp.id + "phaseC").html(resp.phaseC);
        $("#current-card" + resp.id + "temp1").html(resp.temp1);
        $("#current-card" + resp.id + "temp2").html(resp.temp2);
    }

    $("#<%=id%>").blur(function() {
        sendMessage("set-name", {
            id: <%= id %>,
            name: $(this).text().trim()
        });
    });
</script>