<div>
    <div id="<%=id%>" contentEditable="true">
        <%= name %>
    </div>
    <button id="switch-card<%=id%>on" class="waves-effect waves-light btn">On</button>
    <button id="switch-card<%=id%>off" class="waves-effect waves-light btn">Off</button>
</div>
<div>
</div>
<script>
    $("#switch-card<%=id%>on").click(function() {
        alert("id: <%=id%>")
    });

    $("#<%=id%>").blur(function() {
        sendMessage("set-name", {
            id: <%= id %>,
            name: $(this).text().trim()
        });
    });
</script>